@import url("https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  /* position: relative; */
}

header {
  display: flex;
  background-color: #aa890b;
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: right;
  align-items: center;
  height: 3.8rem;
  padding: 0.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px 0;
  /*   position: fixed; */
  width: 100%;
  bottom: 0;
}

#menuHamburger img {
  width: 40px;
}

#menuDesktop {
  display: none;
}

#heroSection {
  /* margin: 0 auto; */
  position: relative;
  min-height: 70vh;
  background-image:
    linear-gradient(rgba(255, 217, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("./assets/vanilla-1800.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-first_title,
.hero-second_title {
  font-family: "Kirang Haerang", cursive;
  position: absolute;
}

.hero-first_title {
  top: 5%;
  left: 5%;
}

.hero-second_title {
  bottom: 5%;
  left: 52%;
  transform: translateX(-50%);
}

@media (min-width: 1024px) {
  #menuHamburger {
    display: none;
  }

  #menuDesktop {
    display: block;
  }

  #heroSection {
    min-height: 50vh;
  }
}
